<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <div class="box">


    <form action="{{ url_for('predict')}}"method="post">
        <h2>ENTER THE DETAILS</h2>
        <div class="inputBox">
            <input type="text" name="GRE"  required="required">
        
        </div>
        <div class="inputBox">
            <input type="text" name="TOEFL"  required="required">
            
        </div>
        <div class="inputBox">
            <input type="text" name="University Rating"  required="required">
          
        </div>
        <div class="inputBox">
            <input type="text" name="SOP" required="required">
        
        </div>
        <div class="inputBox">
            <input type="text" name="LOR" required="required">
        
        </div>
        <div class="inputBox">
            <input type="text" name="CGPA"  required="required">
          
        </div>
        <div class="inputBox">
            <input type="text" name="Research" placeholder="Research" required="required">
            
        </div>
        <!-- <input type="submit" value="Predict"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
<br>
<br>
{{ prediction_text }}

</div>
 <!-- <div class="login">
	<h1>College Admission Prediction</h1>

    
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="GRE" placeholder="GRE" required="required" />
        <input type="text" name="TOEFL" placeholder="TOEFL" required="required" />
		<input type="text" name="University Rating" placeholder="University Rating" required="required" />
		<input type="text" name="SOP" placeholder="SOP" required="required" />
        <input type="text" name="LOR" placeholder="LOR" required="required" />
        <input type="text" name="CGPA" placeholder="CGPA" required="required" />
        <input type="text" name="Research" placeholder="Research" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

 <br>
 <br>
 {{ prediction_text }}

 </div> -->


</body>
</html>